/*comon*/

body{
  margin: 0;
}

img{
  vertical-align: bottom;
}

h1,
h2,
p{
  margin: 0;
}

h1,
h2{
  font-weight: normal;
}

.container {
width: 400px;
margin: 0 auto;
}
/*header*/
  header{
    background: #efefef;
  }

  header .container{
    padding: 32px 0;
    display: flex;
    align-items: center;
  }

  header .container div +div{
    margin-left: 32px;
  }

  header h1{

    font-size: 24px;
  }

  header ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  header ul li + li{
    margin-left: 8px;
  }

  header .icon{
    border-radius: 50%;
  }

/*main*/

  main h1{
    font-size: 24px;

    text-align: center;
    padding: 60px 0;
  }

  main h2{

    font-size: 20px;
    margin-top: 16px;
  }

  main p{
    line-height: 1.8;
    margin-top: 16px;
  }

  main section + section{
   margin-top: 60px;
  }
/*footer*/
  footer{
    padding: 60px 0;
    text-align: center;
    color: #aaa;
  }